
<div class="section">
  <div class="about" id="about">
    <div class="about-container">
      <div class="about-text" text-align: center>
        <div class="about-title">
          <h1>A | D</h1>
          <h2>SAVY. CREATIVE. DETERMINED.</h2>
        </div>
      <p class="about-dialogue">A combination of curiosity, creativity and innovation has led to where I am today.
        <br>

      After working for companies where the “tech team” where hidden in a corner of the office nowhere to be found and male dominated my motivation and knowledge was small to say the least, however, after working for a incubation start-up company working alongside like-minded software developers, product manages and designers my curiosity grew. I started to attend several tech meet ups and spent a lot of time with developers asking them as many questions as I could.
      <br>
      <p>I decided to take a leap of faith quit my job and enrolled on intense coding bootcamp.</p>
      <br>
      <p >Looking for opportunities where I can continue to learn grow and feed my curiosity to create innovate with new emerging technologies which shape our future.</p>
      <br>
      <p class="about-dialogue-last">It is not about what we did in the past it’s about the future and building it the best way we can.</p>


        </p>
      </div>
    </div>
  </div>
</div>




