
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/daitlzche/image/upload/v1550557292/bright-bulb-close-up-1495580.jpg);">
  <div class="container">
    <div class="words">
      <h1>Anastasia Demetriou </h1>
      <h2>Web Developer</h2>
    </div>
    <a href="#about">
      <div class="arrow bounce"><i class="fa fa-angle-down fa-5x" aria-hidden="true"></i></div>
  </div>
  </a>
  <div class="below"></div>
</div>
