<div class="footer">
  <div class="footer-links">
    <div class="contact-info">
    <li>Email anastasiademetriou.ad@gmail.com</li>
    <li>Phone +61 481 763 757</li>
    <li>Github Anastasia-Demetriou</li>
    <li>LinkedIn Anastasia Demetriou</li>
    </div>

    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href=""><i class="fas fa-envelope"></i></a>
  </div>
</div>

