
<div class="help-container">
  <div class="help-content">
    <h1>I CAN HELP YOU</h1>
    <h2>I'm currently available</h2>
    <p>If you have a project that you want to get started, think you need my help with something or just fancy saying hey, then get in touch.</p>
    <p class="btn-holder"><a href="mailto:anastasiademetriou.ad@gmail.com">Message Me</a></p>

  </div>
</div>

