
<div class="projects" id="my_work">
    <h1 class="heading_mywork"></h1>
</div>
<div class="cards">
  <div class="content">
    <div class="card-category">
      <a href="https://www.thelo.club" target="_blank">
        <img <img class="card-category" src="https://res.cloudinary.com/daitlzche/image/upload/v1550477845/Snip20190218_5.png" alt="">
        <div class="content-overlay"></div>
        <img class="content-image" src="">
        <div class="content-details fadeIn-bottom">
        <h3 class="content-title">Thelo</h3>
        <p class="content-text">A platform for hospitalty proffessionals and small business/households can connect without the middleman. </p>
        <br>
        <p>Ruby on Rails / JavaScript / UI Design / UX Design / Web Design</p>
    </div>
    </a>
  </div>
</div>
<div class="content">
  <div class="card-category">
    <a href="#">
      <img <img class="card-category" src="https://res.cloudinary.com/daitlzche/image/upload/v1550478431/Snip20190218_6.png" alt="">
        <div class="content-overlay"></div>
        <img class="content-image" src="">
        <div class="content-details fadeIn-bottom">
        <h3 class="content-title">SeekR</h3>
        <p class="content-text">A project built on Ruby on Rails</p>
        <br>
        <p>Web Design / UX / App Design</p>
      </div>
    </a>
  </div>
</div>
<div class="content">
  <div class="card-category">
    <a href="#">
      <img <img class="card-category" src="https://res.cloudinary.com/daitlzche/image/upload/v1549777370/Snip20190208_9.png" alt="">
        <div class="content-overlay"></div>
        <img class="content-image" src="">
        <div class="content-details fadeIn-bottom">
        <h3 class="content-title">BCG Digital Ventures</h3>
        <p class="content-text">Project managed an interactice map to track business viabilty
          <br>
          Agile working / Daily Stand-Ups / Client Presentation
        </p>
      </div>
    </a>
  </div>
</div>
</div>


