<div class="projects">
    <h1>My Work </h1>
</div>
<div class="projectimages">
  <img class="thelo" src="https://res.cloudinary.com/daitlzche/image/upload/v1549341308/Snip20190205_3.png" alt="thelo.club">
  <!-- card content -->
</div>


