
<div class="skills-wrapper">
  <div class="skills-container">
    <div class="skills">
      <h1 class="skills-title">SKILLS</h1>
        <div class="slider">
          <div class="slide-track">
             <!-- Rails -->
            <div class="slide">
              <img src="https://res.cloudinary.com/daitlzche/image/upload/v1551067772/rails-logo.svg" height="100" width="250" alt="" />
            </div>
             <!-- JS-->
            <div class="slide">
              <img src="https://res.cloudinary.com/daitlzche/image/upload/v1551061367/http___pluspng.com_img-png_logo-javascript-png-html-code-allows-to-embed-javascript-logo-in-your-website-587.png" height="100" width="250" alt="" />
            </div>
             <!-- Ruby -->
            <div class="slide">
              <img src="https://res.cloudinary.com/daitlzche/image/upload/v1551061440/ruby.png" height="100" width="150" alt="" />
            </div>
             <!-- SASS -->
            <div class="slide">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Sass_Logo_Color.svg/512px-Sass_Logo_Color.svg.png" height="100" width="250" alt="" />
            </div>
             <!-- POSTGRESQL -->
            <div class="slide">
              <img src="https://res.cloudinary.com/daitlzche/image/upload/v1551065555/icons8-postgresql-480_1.png" height="100" width="250" alt="" />
              <p>PostGreSQL</p>
            </div>
             <!-- JQuery -->
            <div class="slide">
              <img src="https://res.cloudinary.com/daitlzche/image/upload/v1551065452/http___pluspng.com_img-png_jquery-logo-png--800.gif" height="100" width="250" alt="" />
            </div>
              <!-- Heroku -->
            <div class="slide">
              <img src="https://res.cloudinary.com/daitlzche/image/upload/v1551066028/heroku-logotype-horizontal-white.png" height="100" width="250" alt="" />
            </div>
             <!-- Bootstrap -->
             <div class="slide">
               <img src="https://res.cloudinary.com/daitlzche/image/upload/v1551071411/http___pluspng.com_img-png_bootstrap-logo-vector-png-alternate-image-for-bootstrap-480.png" height= "100" width="250" border-radius="5px" alt="" />
             </div>
             <!-- GitHub -->
            <div class="slide">
              <img src="https://res.cloudinary.com/daitlzche/image/upload/v1551075428/GitHub_Logo_White.png" height="100" width="250" alt="" />
            </div>
            <!-- MySQL -->
            <div class="slide">
              <img src="https://res.cloudinary.com/daitlzche/image/upload/v1551073712/mysql_PNG2.png" height="100" width="200" alt="" />
            </div>
            <!-- OOP -->
            <div class="slide">
              <img src="https://res.cloudinary.com/daitlzche/image/upload/v1551065767/oop_better.png" height="100" width="150" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



