
.unfixed-wrapper {
    margin-bottom: 4px;
    position: relative;
    width: 100%;
    z-index: 1000;
}

.about-container {
  display: contents;
}

.about{
  background: #FFFFFF;
  padding: 50px;
}

.about-text {
  background-color: #FF7376;
  height: 550px;
  color: white;
}

.about-title {
  text-align: center;
  font-weight: 900px;
  padding: 50px 50px;
}

.about-dialogue {
  padding-top: 50px;
}

.about-dialogue-last {
  padding-bottom: 80px;
}

p{
  padding-left: 50px;
  padding-right: 50px;
}







