.firstdiv{
  border-style: solid;
  border-color: red;
  height: 500px;
  width: 600px;

}

.secondiv {
  border-style: solid;
  border-color: green;
}

.thirddiv {
  border-style: solid;
  border-color: blue;
}

